*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.head{
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 18px;
}
#butt{
    background-color: black;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    width: 200px;
    padding: 5px;
    padding-left: 15px;
}
table{
    width: 98%;
    margin-top: 25px;
    margin-left: 10px;
    border: 1px solid grey;
    border-collapse: collapse;
    height: 35px;
}
 th,
 td{
    border: 1px solid grey;
    padding: 8px;
    
  }